
.about-us {
  display: flex;
  align-items: center;
  padding: 60px 20px;
  background-color: #111111;
 
}

.about-img img {
  width: 400px;
}

.about-text {
  margin-left: 50px;
  text-align: justify;
}

.about-text h4 {
  font-size: 35px;
  margin-bottom: 20px;
 
}
.about-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
 
}

.about-text p {
  font-size: 23px;
  margin-bottom: 20px;
}

.section-title span {
  color: #00ffd8;
}