
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #0e0e0e;
}

.logo {
  font-size: 27px;
  font-weight: bold;
}

.logo span {
  color: #00ffd8;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  cursor: pointer;
}

nav ul li.active {
  color: #00ffd8;
}
