
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px;
  background-color: #111111;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 47px;
  margin-bottom: 20px;
}

.hero-text .highlight {
  color: #00ffd8;
}

.hero-text p {
  font-size: 23px;
  margin-bottom: 20px;
}

.get-started {
  padding: 10px 20px;
  background-color: #00ffd8;
  color: #000;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.hero-image img {
  width: 400px;
}
